<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NostrHTTP for search engine indexing and access to Nostr data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='logo.png') }}">
</head>
<body>

    <div class="container">
        <!-- 左侧导航栏 -->
        <div class="sidebar">
            <h2>导航栏</h2>
		    {% if Home %}
            <h2><a href={{Home}}>Home</a></h2>
		    {% endif %}
            <ul>
        	{% for item in relays %}
		<li><a href="/relay/{{item}}">{{item}}</a></li>
        	{% endfor %}
            </ul>
        </div>

        <!-- 右侧内容区域 -->
        <div class="content">
    
               <div class="search-container">
                <!-- 搜索输入框 -->
                <input
                  type="text"
                  id="searchInput"
                  class="search-input"
                  placeholder="请输入关键词..."
                  onkeydown="handleKeyDown(event)"
                 />
                <!-- 搜索按钮 -->
                <button class="search-button" onclick="handleSearch()">搜索</button>
           </div>

	       <div class="button-container">
		     {% if data|length > 2 %}
		     <a href="?since={{data[0].created_at}}&kind={{kind}}">prev</a>
		     <a href="?until={{data[-1].created_at}}&kind={{kind}}">next</a>
		     {% endif %}
		     
		     {% if notes != 1 %}
               {% if time_filter and time_filter.type is not none%}
                <a href="?kind=30023&{{time_filter.type}}={{time_filter.val}}">Articles</a>
               {% else %}
                <a href="?kind=30023">Articles</a>
		       {% endif %}
		     {% endif %}
            </div>
	
    	  <ul class="ulcontent">
        	{% for item in data %}
                   <li>
                    <div class="time">{{item.created_at}}</div>
			        <div>{{ item.content }}</div>
            		<div class="button-container">
			<a href="https://yakihonne.com/notes/{{item.neventid}}">yakihonne.com</a>
			<a href="https://iris.to/{{item.neventid}}">iris.to</a>
			<a href="https://jumble.social/notes/{{item.neventid}}">jumble.social</a>
			<a href="/notes/{{item.neventid}}">Me</a>
            		</div>

		  </li>
	    {% endfor %}
    	 </ul>
        </div>
    </div>
    <script>
        // 处理回车键
        function handleKeyDown(event) {
            if (event.key === 'Enter') {
                handleSearch();
            }
        }

        // 处理搜索
        function handleSearch() {
            const keyword = document.getElementById('searchInput').value.trim();
            if (keyword) {
                window.location.href = `/search?q=${encodeURIComponent(keyword)}`;
            } else {
                alert('请输入搜索关键词！');
            }
        }
    </script>

</body>
</html>
