<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NostrHTTP for search engine indexing and access to Nostr data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <!-- 左侧导航栏 -->
        <div class="sidebar">
            <h2>导航栏</h2>
            <ul>
        	{% for item in relays %}
		<li><a href="/relay/{{item}}">{{item}}</a></li>
        	{% endfor %}
            </ul>
        </div>

        <!-- 右侧内容区域 -->
        <div class="content">
	    <div class="button-container">
		    {% if data|length > 2 %}
		    <a href="?until={{data[0].created_at}}">prev</a>
		    <a href="?until={{data[-1].created_at}}">next</a>
		    {% endif %}
            </div>
	
    	 <ul class="ulcontent">
        	{% for item in data %}
                   <li>
			<div>{{ item.content }}</div>
            		<div class="button-container">
			<a href="https://yakihonne.com/notes/{{item.bech32id}}">yakihonne.com</a>
			<a href="https://iris.to/{{item.bech32id}}">iris.to</a>
			<a href="https://jumble.social/notes/{{item.bech32id}}">jumble.social</a>
            		</div>

		  </li>
	    {% endfor %}
    	 </ul>
        </div>
    </div>

</body>
</html>
